*{
    margin: 0;
    padding: 0;
    
}

body {
    background-color: #ccc;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

#tetris{
    background-color: white;
    box-shadow: 0 0 10px 2px lightgrey;
}

header {
    background-color: #7dcb2a;

    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;

}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
}

button {
    margin: 10px;
    font-size: 16px;
    padding: 5px 10px;
    
}